body, html
{
    width: 100%; 
    margin: 0;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: rgb(246, 246, 246);
$color-footer: rgb(53,53,53);
$gradient:linear-gradient($color-secondary,$color-primary);

.logo{
    background-color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Shrikhand','Courier New', Courier, monospace, sans-serif;
}
section, footer, .location
{
    font-family: 'Roboto','Courier New', Courier, monospace, sans-serif;
}
section{
    padding-left: 1em;
    padding-right: 1em;
    a{
        color:black
    }
}
footer{
    background: $color-footer;
    padding: 1.2em;

    a{
        color: white;
    }
    @media (min-width:1024px) 
         {
             text-align:center;
         }
}

.logofooter{
    font-size: 1.2em;
    color: white;
    font-family: 'Shrikhand','Courier New', Courier, monospace, sans-serif;}

.iconsfooter{
    padding-right: 0.5em;}

.visual{
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;}
.dkw{
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

a{
    text-decoration: none;}

