.header-menu{
    text-align: center;
    height: 3.5em;
    position: relative;
    background-color: white;
    font-size: 1em;
    font-family: 'Shrikhand','Courier New', Courier, monospace, sans-serif;
    padding:1em;
    .fa-arrow-left{
        float: left;
        color: black;
        margin-top: 0.7em;
        font-size: 1.5em;
    }
    .logo{
        margin: 0 auto;
    }
}

.picture {
    width:100%;
    max-height: 350px;
    object-fit: COVER;
    @media (min-width:1024px) 
         {
        object-fit: COVER;
        height: 300px;
         }

    .dkw{
        object-fit: COVER;
        max-height: 350px;
        @media (max-width:400px) {
            height: 180px;
        }
        @media (min-width:1024px) 
         {
           height: 300px;
           width:240px;
         }
    }
}

.seemenu{
    background-color: $color-background;
    border-radius: 40px 40px 0px 0px;
    margin-top: -3.5em;
    position: relative;
}
.top{
    display: flex;
    
    .menu_name{
        font-family: 'Shrikhand','Courier New', Courier, monospace, sans-serif;
        font-size: 1.6em;
        padding-top: 0.8em;
    }
    .fa-heart{
        position: absolute;
        right: 7%;
        top:3%;
        font-size: 1.5em;
        @media (min-width:1024px) 
         {
          padding-left: 35em;
         }
    }  
}

.choice{
    background-color: white;
    padding-left: 1em;
    margin-bottom: 0.8em;
    border-radius: 20px;
    height: 4.4em;
    box-shadow: 0 0 7px lightgrey;
    .price{
        float: right;
        margin-top: 0.1em;
        margin-right: 3em;
        position: relative;
        font-weight: bold;
    }
    .subtitle{
        font-weight:lighter;
        position:absolute;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        @media (min-width:320px) 
         {
          width: 60%;
         }
    }
    .plate{
        font-weight: bold;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 0.7em;
        padding-bottom: 0.5em;
        margin: 0;
    }
}

.SORT{
    margin:0.5em;
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    border-bottom: 3px solid $color-tertiary;
    width:2.5em;
}

.btn-order{
    font-family:'Roboto';
    background-color: $color-background;
    padding-top: 3em;
    padding-bottom:3em;
        .order{
        border-radius: 40px;
        background: linear-gradient($color-secondary,$color-primary);
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        color: white;
        text-align: center;
        width: 50%;
        margin-left: 25%;
        box-shadow:0 0 4px grey;
            &:hover{
            box-shadow:0 0 8px grey;
            opacity: 0.9;
            cursor: pointer;
        }
    }
}



