body, html {
  width: 100%;
  margin: 0;
}

.logo {
  background-color: white;
  text-align: center;
  font-size: 2em;
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
}

section, footer, .location {
  font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
}

section {
  padding-left: 1em;
  padding-right: 1em;
}
section a {
  color: black;
}

footer {
  background: #353535;
  padding: 1.2em;
}
footer a {
  color: white;
}
@media (min-width: 1024px) {
  footer {
    text-align: center;
  }
}

.logofooter {
  font-size: 1.2em;
  color: white;
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
}

.iconsfooter {
  padding-right: 0.5em;
}

.visual {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.dkw {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

a {
  text-decoration: none;
}

.location {
  font-size: 1.2em;
  text-align: center;
  background-color: #eaeaea;
  padding-top: 2px;
  padding-bottom: 2px;
}

.fa-map-marker-alt {
  padding-right: 15px;
}

.reservation {
  background-color: #f6f6f6;
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;
  font-size: 1em;
}

.explore {
  font-weight: bold;
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0.5em;
  width: 70%;
  margin: auto;
  box-shadow: 0 0 4px grey;
}
.explore:hover {
  box-shadow: 0 0 7px grey;
  opacity: 0.9;
  cursor: pointer;
}
.explore a {
  color: white;
}
@media (min-width: 1024px) {
  .explore {
    text-align: center;
    width: 30%;
  }
}

.functions {
  padding: 0.5em;
  display: inline;
}

.titlefunctions {
  padding-left: 1em;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .titlefunctions {
    text-align: center;
  }
}

.stepsnumbers {
  text-align: center;
  border-radius: 2em;
  height: 1em;
  width: 1em;
  background-color: #9356DC;
  color: white;
  padding: 0.5em;
  font-size: 0.9em;
  margin-left: -1.8em;
}
@media (min-width: 1024px) {
  .stepsnumbers {
    display: none;
  }
}

.steps {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.5em;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 1em;
  background: #f6f6f6;
}
.steps:hover {
  box-shadow: 0 0 10px lightgray;
  background: #f8edff;
  cursor: pointer;
}
.steps:hover .stepsicons {
  color: #9356DC;
}
@media (min-width: 1024px) {
  .steps {
    justify-content: center;
    letter-spacing: 0.1em;
  }
}

.stepsicons {
  color: grey;
  padding: 1.1em;
}

.restaurants {
  background: #f6f6f6;
  padding-bottom: 2em;
  padding-top: 1.5em;
}

@media (min-width: 1024px) {
  .title-section {
    text-align: center;
  }
}

.card {
  border-radius: 2em;
  margin-bottom: 1em;
  background-color: white;
  box-shadow: 0 0 7px lightgrey;
}
@media (min-width: 1024px) {
  .card {
    display: inline-flex;
    max-width: 45%;
    margin: 1.5em;
  }
}
.card .txt-card {
  padding: 0em 0em 0.5em 0.5em;
  line-height: 0.4em;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}

.places {
  font-weight: bold;
}

.suburb {
  font-weight: lighter;
}

.txt-explore {
  font-weight: lighter;
}

#top-new, #top-new2 {
  padding: 0.4em 0.8em 0.4em 0.8em;
  color: #278870;
  background-color: #99E2D0;
  float: right;
  margin-top: 0.7em;
  position: absolute;
  right: 2em;
  font-size: 0.9em;
}
@media (min-width: 1024px) {
  #top-new, #top-new2 {
    display: none;
  }
}

.header-menu {
  text-align: center;
  height: 3.5em;
  position: relative;
  background-color: white;
  font-size: 1em;
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
  padding: 1em;
}
.header-menu .fa-arrow-left {
  float: left;
  color: black;
  margin-top: 0.7em;
  font-size: 1.5em;
}
.header-menu .logo {
  margin: 0 auto;
}

.picture {
  width: 100%;
  max-height: 350px;
  object-fit: COVER;
}
@media (min-width: 1024px) {
  .picture {
    object-fit: COVER;
    height: 300px;
  }
}
.picture .dkw {
  object-fit: COVER;
  max-height: 350px;
}
@media (max-width: 400px) {
  .picture .dkw {
    height: 180px;
  }
}
@media (min-width: 1024px) {
  .picture .dkw {
    height: 300px;
    width: 240px;
  }
}

.seemenu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -3.5em;
  position: relative;
}

.top {
  display: flex;
}
.top .menu_name {
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
  font-size: 1.6em;
  padding-top: 0.8em;
}
.top .fa-heart {
  position: absolute;
  right: 7%;
  top: 3%;
  font-size: 1.5em;
}
@media (min-width: 1024px) {
  .top .fa-heart {
    padding-left: 35em;
  }
}

.choice {
  background-color: white;
  padding-left: 1em;
  margin-bottom: 0.8em;
  border-radius: 20px;
  height: 4.4em;
  box-shadow: 0 0 7px lightgrey;
}
.choice .price {
  float: right;
  margin-top: 0.1em;
  margin-right: 3em;
  position: relative;
  font-weight: bold;
}
.choice .subtitle {
  font-weight: lighter;
  position: absolute;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
@media (min-width: 320px) {
  .choice .subtitle {
    width: 60%;
  }
}
.choice .plate {
  font-weight: bold;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  margin: 0;
}

.SORT {
  margin: 0.5em;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 3px solid #99E2D0;
  width: 2.5em;
}

.btn-order {
  font-family: "Roboto";
  background-color: #f6f6f6;
  padding-top: 3em;
  padding-bottom: 3em;
}
.btn-order .order {
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  box-shadow: 0 0 4px grey;
}
.btn-order .order:hover {
  box-shadow: 0 0 8px grey;
  opacity: 0.9;
  cursor: pointer;
}

/* LOADING SPINNER HOME PAGE*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 0.3s;
}
.loader .lettre {
  color: #9356DC;
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
  animation: flash 1s linear infinite;
}
@media (min-width: 1024px) {
  .loader .lettre {
    font-size: 80px;
    margin-bottom: 80px;
  }
}

@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
  90% {
    color: #FF79DA;
    text-shadow: #FF79DA;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.loader {
  z-index: 99999;
  position: absolute;
  animation: byebye 5s both;
}

@keyframes byebye {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*APPEAR MENU*/
.menu:nth-child(2) {
  animation: appear 0.3s;
  animation-timing-function: cubic-bezier(0.79, 0.33, 0.14, 0.53);
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

.menu:nth-child(3) {
  animation: appear 0.3s;
  animation-timing-function: cubic-bezier(0.79, 0.33, 0.14, 0.53);
  animation-fill-mode: both;
  animation-delay: 0.4s;
}

.menu:nth-child(4) {
  animation: appear 0.3s;
  animation-timing-function: cubic-bezier(0.79, 0.33, 0.14, 0.53);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* SLIDE IN MENU*/
.choice {
  display: flex;
}

.slide-in {
  display: flex;
  color: white;
  font-size: 0%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.4s ease-in-out;
}

.choice:hover {
  cursor: pointer;
}
.choice:hover .slide-in {
  width: 5%;
  color: white;
  background-color: #99E2D0;
  font-size: 1.5em;
  padding: 20px;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
  float: right;
  margin-left: -30px;
}
.choice:hover .slide-in .fa-check-circle {
  justify-content: center;
}

.txt-choice {
  width: 100%;
}

/*HEART HOME*/
.hearts {
  float: right;
  font-size: 1.2em;
  padding-right: 1.5em;
  padding-top: 0.5em;
}
.hearts .empty-heart {
  position: absolute;
  opacity: 1;
}
.hearts .fill-heart {
  position: relative;
  opacity: 1;
}
.hearts .fill-heart:hover {
  animation: lova 1s ease-in-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes lova {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*HEART MENU*/

/*# sourceMappingURL=style.css.map */
